<a href="https://colab.research.google.com/github/himagandhii/BDA-Workshop/blob/main/APARKGNE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1. imprt pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 198 kB 52.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=2d837b383dbe1778b7d80b405aff70a9f8f81836b944a6c0fd37538b64d05ca4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [5]:
'''def add(num1, num2):
  sum = num1 + num2
  return sum

add(10, 20)
'''

'def add(num1, num2):\n  sum = num1 + num2\n  return sum\n\nadd(10, 20)\n'

In [4]:
ref = lambda a, b : a + b
ref(10, 20)

30

In [6]:
#2. import spakcontext and sparkconfig.
from pyspark import SparkContext, SparkConf

In [7]:
#3. create object of spartcontext which is a masternode on local machine
context = SparkContext("local", "GNESparkApp")

In [8]:
context

In [9]:
#4.  Lambda to split lines into words.
words_lambda = lambda line : line.split(" ")
words_lambda

In [10]:
#5. Read the file from disk
#rdd to achieve faster and effcient mapreduce operations.
file = context.textFile('input.txt')
file

input.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [11]:
#6. Execute flatMap function to get words from file:
# we will get data structure of words from file
words = file.flatMap(words_lambda)
words

PythonRDD[2] at RDD at PythonRDD.scala:53

In [12]:
#7. Create lambda to add 2 numbers
add = lambda a, b : a + b
add

In [13]:
#8. Create Lambda to create key value pair for word as a tuple
word_tuple = lambda word : (word, 1)
word_tuple

In [14]:
#9. Create a word map
word_map = words.map(word_tuple)
word_map

PythonRDD[3] at RDD at PythonRDD.scala:53

In [15]:
#10. Create word count
word_count = word_map.reduceByKey(add)
word_count

PythonRDD[8] at RDD at PythonRDD.scala:53

In [16]:
#11. Save the O/P of word count 
word_count.saveAsTextFile("Output")
print("Data saved ðŸ˜ŽðŸ¦•")

Data saved ðŸ˜ŽðŸ¦•

In [2]:
import pandas as pd

In [18]:
df = pd.read_csv("/content/Output/part-00000", sep=" ",header=None, 
                 names=["word", "count"])

In [19]:
df.head()

           word count
0  ('Avengers',    1)
1   ('endgame',    1)
2        ('is',    2)
3     ('hands',    1)
4      ('down',    1)

In [20]:
df["word"] = df["word"].str.strip('(').astype(str)

In [21]:
df["count"] = df["count"].str.strip(')').astype(int)

In [22]:
df["word"] = df["word"].str.replace("',", "")

In [23]:
df["word"] = df["word"].str.replace(",", "")

In [24]:
df.head()

        word  count
0  'Avengers      1
1   'endgame      1
2        'is      2
3     'hands      1
4      'down      1

In [27]:
df[(df["count"] >= 3)]

    word  count
5   'the      4
19   'it      3
20   'to      6
23   'my      3
44  'was      3
54   'of      3